
.node {
}

.link { 
  stroke: #999; 
  stroke-opacity: .6; 
  stroke-width: 1px; 
}

.graph-container {
    position: relative;
}

.graph-categories {
    vertical-align: top;
    display: inline-block;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
}

.d3 {
    display: inline-block;
    width: 74%;
}

.table-wrapper {
    position: relative;
    display: inline-block;
    width: 74%;
}

table, th, td {
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}