<div>
  <div class="graph-type">
    <input name="options" type="radio"  [(ngModel)]="graphType" [value]="0"
           [checked]="graphType==0" (change)="RefreshGraph()" />
    <input name="options" type="radio"  [(ngModel)]="graphType" [value]="1"
           [checked]="graphType==1" (change)="RefreshGraph()"/>
    <input name="options" type="radio"  [(ngModel)]="graphType" [value]="2"
           [checked]="graphType==2" (change)="RefreshGraph()"/>
  </div>
  <div class="graph-container">
    <div class="graph-categories">
      <div class="graph-category" *ngFor="let c of graphCategories">
        <input type="checkbox" [(ngModel)]="c.active" [checked]="c.active" (change)="RefreshGraph()"/>
        <span class="category-text">{{c.title}}</span>
      </div>
    </div>
    <table *ngIf="tableData" class="d3">
      <thead>
          <td *ngFor="let h of tableData.headers">{{h}}</td>
      </thead>
      <tbody>
        <tr *ngFor="let r of tableData.rows">
          <td *ngFor="let c of r" [ngStyle]="{'background-color': complianceColors[c ? c.data.compliance_level : 0]}">{{c ? c.data.section : '-'}}</td>
        </tr>
      </tbody>
    </table>
    <div id="d3" class="d3">
    </div>
  </div>
</div>
