<div>
  <div class="graph-type">
    <input name="options" type="radio"  [(ngModel)]="graphType" [value]="0"
           [checked]="graphType==0" (change)="RefreshGraph()" />
    <input name="options" type="radio"  [(ngModel)]="graphType" [value]="1"
           [checked]="graphType==1" (change)="RefreshGraph()"/>
    <input name="options" type="radio"  [(ngModel)]="graphType" [value]="2"
           [checked]="graphType==2" (change)="RefreshGraph()"/>
  </div>
  <div class="graph-container">
    <div class="graph-categories">
      <h1>Filter</h1>
      <div class="graph-tab-buttons">
        <div class="graph-tab-button" *ngFor="let t of graphTabs">
          <button [class]="t.active ? 'button-active' : ''" (click)="activateTab(t)">{{t.title}}</button>
        </div>
      </div>
      <div class="graph-tabs">
        <div *ngFor="let t of graphTabs">
          <div class="graph-tab" [class]="!t.active ? 'graph-inactive' : ''">
            <input id="filter3" #filter3 (keyup)="filterFn(filter3.value, tree.treeModel)" placeholder="fuzzy search..."/>
            <button (click)="tree.treeModel.clearFilter(); filter3.value = ''">Clear Search</button>
            <tree-root #tree [focused]="true" [(state)]="t.state" [options]="t.options" [nodes]="t.nodes" (initialized)="t.treeModel = tree.treeModel" (stateChange)="tabTreeChanged(t)">></tree-root>
          </div>
        </div>
      </div>

<!--      <div class="graph-category" *ngFor="let c of graphCategories">
        <input type="checkbox" [(ngModel)]="c.active" [checked]="c.active" (change)="RefreshGraph()"/>
        <span class="category-text">{{c.title}}</span>
      </div>-->
    </div>
    <div class="table-wrapper" (window:resize)="onResize($event)" *ngIf="tableData">
        <div class="graph-column" *ngFor="let t of graphTabs">
            <h3>{{t.title}}</h3>
            <tree-root #tree [focused]="true" [(state)]="t.column.state" [options]="t.column.options" [nodes]="t.column.nodes" (initialized)="t.column.treeModel = tree.treeModel; tabTreeChanged(t)" (toggleExpanded)="columnTabTreeChanged(t)">
              <ng-template #treeNodeWrapperTemplate let-node let-index="index">
                <div #wrapper class="node-wrapper" [style.padding-left]="node.getNodePadding()">
                  <tree-node-expander [node]="node"></tree-node-expander>
                  <div class="node-content-wrapper"
                    [class.dummystyle]="bindTogether(node, wrapper, svgbg)"
                    [class.node-content-wrapper-active]="node.isActive"
                    [class.node-content-wrapper-focused]="node.isFocused"
                    (click)="node.mouseAction('click', $event)"
                    (dblclick)="node.mouseAction('dblClick', $event)"
                    (contextmenu)="node.mouseAction('contextMenu', $event)"
                    (treeDrop)="node.onDrop($event)"
                    [treeAllowDrop]="node.allowDrop"
                    [treeDrag]="node"
                    [treeDragEnabled]="node.allowDrag()">

                    <tree-node-content [node]="node" [index]="index"></tree-node-content>
                  </div>
                </div>
              </ng-template>
            </tree-root>
        </div>
        <svg #svgbg class="svg-background">
          <defs>
            <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
              <path d="M0,0 L0,6 L9,3 z" fill="#000" />
            </marker>
          </defs>
          <g *ngFor="let t of graphTabs">
            <line *ngFor="let l of t.displayLinks" [attr.x1]="l.x1" [attr.x2]="l.x2 - 2 * l.scale" [attr.y1]="l.y1" [attr.y2]="l.y2" stroke="black"></line>
            <line *ngFor="let l of t.displayLinks" [attr.x1]="l.x2 - 2 * l.scale" [attr.x2]="l.x2 + 0.1 * l.scale" [attr.y1]="l.y2" [attr.y2]="l.y2" stroke="black" marker-end="url(#arrow)"></line>
          </g>
        </svg>
<!--      <table>
        <thead>
            <td *ngFor="let h of tableData.headers">{{h}}</td>
        </thead>
        <tbody>
          <tr *ngFor="let r of tableData.rows">
            <td *ngFor="let c of r" [ngStyle]="{'background-color': complianceColors[c ? c.data.compliance_level : 0]}">
              <div *ngIf="c">
                <div><a routerLink="/doctypes/{{c.data.type}}" routerLinkActive="active">{{c.data.section}}</a></div>
                <div>{{c.data.body}}</div>
              </div>
              <div *ngIf="!c">
                <div>-</div>
                <div></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>-->
    </div>
    <div id="d3" class="d3">
    </div>
  </div>
</div>
