<div *ngIf="standardMap">
  <h2>{{standardMap.name | uppercase}} Details</h2>
  <div><span>id: </span>{{standardMap.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="standardMap.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
  <h2>Sections</h2>
  <div *ngFor="let section of standardMap.sections">
    <div class="section">
      <h4>{{section.title}}</h4>
        <div *ngFor="let link of section.links">
          <div class="link">
            <h4>{{link.section}}</h4>
          </div>
        </div>
    </div>
  </div>
</div>
