<div *ngIf="standardMap" class="container">
<!--  <button (click)="goBack()">go back</button>-->
  <h2>{{standardMap.name | uppercase}}</h2>
<!--    <div><span>type: </span>{{standardMap.type}}</div>
<div>
    <label>name:
      <input [(ngModel)]="standardMap.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="save()">save</button>-->
  <mat-form-field class="input-field">
    <input matInput type="text" placeholder="id" [(ngModel)]="standardMap.node.id" >
  </mat-form-field>
  <mat-form-field class="input-field">
    <input matInput type="text" placeholder="section" [(ngModel)]="standardMap.node.section" >
  </mat-form-field>
  <mat-form-field class="input-field">
    <input matInput type="text" placeholder="body" [(ngModel)]="standardMap.node.body" >
  </mat-form-field>

  <h4>Links</h4>
  <div *ngFor="let link of standardMap.node.links">
    <div class="link">
      <mat-form-field class="input-field">
        <input matInput type="text" placeholder="type" [(ngModel)]="link.type" >
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput type="text" placeholder="id" [(ngModel)]="link.id" >
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput type="text" placeholder="rev" [(ngModel)]="link.rev" >
      </mat-form-field>
      <!--<h4><a routerLink="/doctypes/{{link.type}}" routerLinkActive="active">Related: {{link.type}} Id: {{link.id}} Rev{{link.rev}}</a></h4>-->
    </div>
  </div>

  <h2>Children</h2>
  <div *ngFor="let c of standardMap.children">
    <app-standard-map-detail [standardMap]="c"></app-standard-map-detail>
  </div>
</div>
