<div *ngIf="standardMap">
  <button (click)="goBack()">go back</button>
  <h2>{{standardMap.type | uppercase}} Details</h2>
<!--    <div><span>type: </span>{{standardMap.type}}</div>
<div>
    <label>name:
      <input [(ngModel)]="standardMap.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="save()">save</button>-->
  <h2>Sections</h2>
  <div *ngFor="let section of standardMap.document_nodes">
    <div class="section">
      <h4 class="section">{{section.section}} ({{section.type}}.{{section.id}}.{{section.rev}})</h4>
      <span>{{section.body}}</span>
      <div *ngFor="let link of section.external_doc_node_references">
        <div class="link">
          <h4><a routerLink="/doctypes/{{link.type}}" routerLinkActive="active">Related: {{link.type}} Id: {{link.id}} Rev{{link.rev}}</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
